.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #f0f0f0;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.remixLogo {
  width: 15px;
  height: 15px;
}

.logoText {
  font-size: 18px;
}

.navbarButtons {
  display: flex;
  gap: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  background-color: #f6f8f9;
}

.options {
  flex: 1 0 100%;
  padding: 20px;
  background-color: #fff;
}

.section {
  margin-bottom: 5px;
  padding: 10px;
}

.code {
  flex: 1;
  padding: 8px;
  height: max-content;
}

.codeHeader {
  position: relative;
  float: right;
  display: flex;
  gap: 5px;
  z-index: 1;
  margin: 5px 5px -40px 0;
}

.codeButtons {
  flex-wrap: wrap;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.logBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 5px;
}

@media (min-width: 768px) {
  .options {
    flex: 0 0 auto;
    width: 300px;
    min-width: 300px;
  }

  .code {
    flex: 1;
    min-width: 0;
  }
}